# Notebook Info

From the data tables that we have, we try identifying the features that matter the most for forecasting
failures.

For now the data is pulled from the `xdiag` table and failure is imported from the `failure_info` table.

Database Details:
```
# Data
database = 'oasis-prod'
schema = 'xspoc'
table = 'xdiag'

# Failure
database = 'oasis-prod'
schema = 'analysis'
table = 'failure_info'  
```

Note: The tables especially `xdiag` has data from around 900 wells. Querying the entire table may take time. Can try working on a group of wells or single wells for the analysis.

# Imports

In [1]:
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
import pandas as pd
from library import lib_aws

pd.set_option('display.max_rows', 500)
import warnings
warnings.filterwarnings('ignore')

# Initial Analysis

Just to check the timestamps and how the data is spread out in both the tables

In [4]:
%%time
query_initial = """
SELECT
    distinct("NodeID"),
    min("Date") as min_date,
    max("Date") as max_date
FROM xspoc.xdiag
GROUP BY "NodeID"
ORDER BY "NodeID"
"""

# queryinh the entire failure info
query_failures = """
SELECT 
    "NodeID",
    "Last Oil",
    "Start Date",
    "Finish Date",
    "Job Type",
    "Job Bucket",
    "Primary Symptom",
    "Secondary Symptom"
FROM
    analysis.failure_info
ORDER BY "NodeID";
"""

with lib_aws.PostgresRDS(db='oasis-prod', verbose=1) as engine:
    data_info = pd.read_sql(query_initial, engine, parse_dates=['Date'])
    failures = pd.read_sql(query_failures, engine, parse_dates=['Last Oil', 'Start Date', 'Finish Date'])

Connected to oasis-prod DataBase
Connection Closed
Wall time: 59.4 s

In [25]:
data_wells = set(data_info.NodeID)
fail_wells = set(failures.NodeID.unique())

print("Wells with Failure:")
display(data_wells & fail_wells) # wells with failure

# print("Wells without Failure (Atleast in the failure info being used):")
# display(data_wells - fail_wells)

Wells with Failure:

{'Aagvik 1-35H',
 'Acadia 31-25H',
 'Aerabelle 5502 43-7T',
 'Amazing Grace Federal 11-2H',
 'Anderson 7-18H',
 'Andre 5501 13-4H',
 'Andre 5501 14-5 3B',
 'Andre 5601 42-33 2B',
 'Andre Shepherd 5501 14-7 1T',
 'Andre Shepherd 5501 14-7 2T',
 'Andre Shepherd 5501 21-5 3T',
 'Andre Shepherd 5501 21-5 4T',
 'Andre Shepherd 5501 21-5 5T',
 'Andre Shepherd 5501 31-8 7T',
 'Andrea 5502 44-7T',
 'Annie 12X-18HA',
 'Annie 12X-18HB',
 'Annie 5502 43-7B',
 'Anvers Federal 5602 13-18H',
 'Arlyss 5601 14-26T',
 'Arnold 16X-12H',
 'Arnstad 3-10H',
 'Ashley 13X-9H',
 'Aubrey 5304 41-22H',
 'Autumn Wind State 5601 14-16B',
 'B & Rt 2958 13-25H',
 'Baffin 5601 12-18H',
 'Barenthsen 11-20H',
 'Barnes 5892 20-30B',
 'Behan 2-29H',
 'Berkner Federal 5602 43-11H',
 'Berquist 33-28H',
 'Berquist 34-27H',
 'Berwick 4-2HE',
 'Berwick 4-2HN',
 'Betsy Federal 2758 24-29H',
 'Beulah Irene Federal 19-18H',
 'Bobby 5602 43-35H',
 'Bonita 5992 42-22 2B',
 'Bonita 5992 42-22H',
 'Bouvardia Federal 2658 12-12H',
 'Bowie 2958 42-21 1H',
 'Brewer 2759 13-15H',
 'Brianm 2958 43-10H',
 'Broderson 13-35H',
 'Broderson 2-27H',
 'Broderson 2X-27HA',
 'Broderson 2X-27HB',
 'Burleson 5502 41-7B',
 'Cade 12-19HA',
 'Cade 12X-19H',
 'Calmers Federal 6092 43-14T',
 'Calvin 2-13H',
 'Carl Federal 2658 43-23H',
 'Carol 12-35H',
 'Carson Federal 2658 13-17H',
 'Catherine 2759 12-17H',
 'Ceynar 4-18HA',
 'Ceynar 4-18HB',
 'Ceynar 4X-18H',
 'Charlie 5603 43-19H',
 'Chokecherry 2758 11-10B',
 'Christianson 5404 14-34H',
 'Colbenson 5792 11-6H',
 'Conry Federal 5992 43-21 1H',
 'Contreras 5502 42-7H',
 'Cooper 5603 43-8H',
 'Copper 2959 42-20H',
 'Cornell 5501 13-1H',
 'Cornell 5501 14-1 8T2',
 'Cottle 5892 21-30T',
 'Coyote Federal 2758 43-8H',
 'Craig 5892 31-28H',
 'Crawford 5493 44-7T',
 'Crocket 2958 42-21 1H',
 'Dad Frye Federal 2758 24-32B',
 'Dahl 15-11H',
 'Daisy May 2758 31-28H',
 'Dallas 2X-13H',
 'Darrell 5602 42-10H',
 'Dave T 2958 13-25H',
 'David Federal 2658 43-9H',
 'Delta 6093 14-15 11B',
 'Delta 6093 14-15 9B',
 'Delta 6093 24-15 3B',
 'Delta 6093 24-15 5T',
 'Delta 6093 34-15H',
 'Delta 6093 44-15 7B',
 'Delta 6093 44-15 8T',
 'Devon 5601 12-17H',
 'Dianne Federal 2658 42-22H',
 'Didrick 4-27HA',
 'Didrick 4-27HB',
 'Didrick 4X-27H',
 'Dishon 1-30H',
 'Dixie 12X-35H',
 'Dixie Federal 2758 14-6H',
 'Dixon 5602 44-34H',
 'Donna 12X-35H',
 'Dorothy 16-12H',
 'Drew 5502 21-4B',
 'Driesbach 5602 44-32H',
 'Drummond 5501 42-21 4T',
 'Drummond 5501 44-21H',
 'Dunlin 5892 34-32H',
 'Edwin 5601 44-24T',
 'Ella Marie 2759 42-9H',
 'Ellis 5602 12-17H',
 'Elm 5892 42-12 1H',
 'Emerald 5603 42-10H',
 'Emerald 5603 43-10 2B',
 'Emerald 5603 43-10 3B',
 'Emerald 5603 43-10 4T',
 'Emma 13-7H',
 'Ernst 6092 42-31H',
 'Fairfax 6093 12-26B',
 'Falcon Federal 2759 12-16H',
 'Falcon Federal 2759 44-9 2T',
 'Falcon Federal 2759 44-9 3B',
 'Falcon Federal 2759 44-9 4T',
 'Fannie Federal 2759 43-19H',
 'Faye Federal 2759 43-19H',
 'Flinders Federal 5602 13-18H',
 'Forland 28-33H',
 'Fossum 15-35HR',
 'Freesia Federal 2658 13-11H',
 'Glover 5601 12-17H',
 'Gnr 10-3H',
 'Grimstvedt Federal 5703 42-34H',
 'Grindland 31-30H',
 'Grove 11-36H',
 'Hagen 31-30H',
 'Hagen Banks 5298 42-31 2T2',
 'Hagen Banks 5298 42-31 3T',
 'Hagen Banks 5298 42-31 4T2',
 'Hagen Banks 5298 42-31 5B',
 'Hagen Banks 5298 42-31 6T',
 'Hagen Banks 5298 42-31 7T3',
 'Hagen Banks 5298 42-31 8B',
 'Hannah-Kaydence 5501 12-1T',
 'Hannan Federal 6093 12-33H',
 'Hanover Federal 5300 13-14 7T',
 'Hanover Federal 5300 13-14H',
 'Hanover Federal 5300 42-11 8B',
 'Hanover Federal 5300 44-11 2B',
 'Hanover Federal 5300 44-11 4B',
 'Hanson 33-28H',
 'Harbour 5501 13-4H',
 'Harbour 5501 14-5 2T',
 'Harbour 5601 42-33 2B',
 'Harbour 5601 42-33 3T',
 'Harbour 5601 42-33 4B',
 'Hardy 5892 43-9H',
 'Harp Federal 13-24H',
 'Harris 5603 43-8H',
 'Hartel 1-26HA',
 'Hartel 1-26HB',
 'Hartel 1X-26H',
 'Harvey 5892 21-30B',
 'Helmer 5604 13-13H',
 'Hendricks 5602 42-36H',
 'Hendricks 5602 43-36 2T',
 'Hendricks 5602 43-36 3B',
 'Hendricks 5602 43-36 4T',
 'Hendricks 5602 43-36 5B',
 'Herb 5501 14-1B',
 'Herbert 5602 43-9H',
 'Hillstead 5603 13-29H',
 'Holm 13-12H',
 'Holm 14-12HA',
 'Holm 14X-12H',
 'Holm 14X-12HA',
 'Holmes 5501 11-5 2T',
 'Holmes 5501 11-5 3B',
 'Holmes 5501 12-5 4B',
 'Holmes 5501 12-5 5T',
 'Holmes 5601 44-32H',
 'Inez 6093 43-19H',
 'Irwin 14-23H',
 'Iverson 14-11H',
 'J Cory 5602 41-10H',
 'J H Van Berkom 5992 12-6H',
 'James 16-35H',
 'James 16X-35HB',
 'Jase 5892 21-30T',
 'Jaynes 16-12H',
 'Jenna 5604 13-1H',
 'Jensen 5501 42-7H',
 'Jimbo Federal 2759 12-14B',
 'Jimbo Federal 2759 44-11 5B',
 'Jimbo Federal 2759 44-11 6T',
 'Johnson 29-30H',
 'Johnson 5601 41-24T',
 'Johnsrud 1-1H',
 'Johnsrud 19-18H',
 'Johnsrud 5198 12-18 10T',
 'Johnsrud 5198 12-18 4T2',
 'Johnsrud 5198 14-18 11T',
 'Johnsrud 5198 14-18 13T',
 'Johnsrud 5198 14-18 15TX',
 'Jolly 6093 12-26T',
 'Joseph 5502 44-7B',
 'Justice Federal 2759 44-11T',
 'Kaleb 5501 12-1B',
 'Kate Evelyn 5501 14-3T',
 'Kelter 7-6H',
 'Kemper 6193 14-14B',
 'Kjos Federal 5502 44-24H',
 'Klamm 13-10H',
 'Koeser 3-26H',
 'Koeser 3X-26HA',
 'Koeser 3X-26HB',
 'Koeser 4X-26H',
 'Krogedal Federal 2958 11-27H',
 'Larry Swanson 6093 43-23H',
 'Lars 5792 13-3H',
 'Laumb 11-22H',
 'Ledahl 28-21H',
 'Leiseth 1-24H',
 'Lester Federal 2759 12-17H',
 'Lite 5393 31-11 5B',
 'Logan 5601 11-26 7B',
 'Logan 5601 11-26 8T',
 'Logan 5601 13-26 4T',
 'Logan 5601 13-26 5B',
 'Logan 5601 42-35H',
 'Loki 2658 12-25H',
 'Long Coulee Federal 2958 42-22H',
 'Loren 1-12H',
 'Lucille 1-27H',
 'Lucille 1X-27H',
 'Luke 14-12H',
 'Luke Sweetman 24-25H',
 'Lundeen 4-26H',
 'Lydia 5601 43-24T',
 'Lynn 5502 11-10H',
 'M Lee 5793 42-11H',
 'Ma 2758 41-11B',
 'Mae 5603 43-19H',
 'Mahaila 5892 21-30H',
 'Manning 1X-32H',
 'Marilyn 2758 42-11H',
 'Marit 5892 44-34B',
 'Marlee 5502 41-7B',
 'Marlene 5501 14-1T',
 'Mary 3-10H',
 'Mary Wilson 10-3H',
 'Matador Federal 2658 43-7H',
 'Mccauley 5501 14-3 2B',
 'Mccauley 5501 14-3 3T',
 'Mccauley 5501 14-3 7T2',
 'Mccauley 5501 14-3H',
 'Mccauley 5601 41-34 5T',
 'Mccauley Logan 5601 11-26 6T',
 'Mccracken 2758 21-10 5B',
 'Mccracken 2758 34-9 3B',
 'Mccracken 2758 41-10 6B',
 'Meadowlark 6093 13-3 1H',
 'Melville 5601 12-18H',
 'Melvin 6093 43-19H',
 'Mercedes 5502 41-7T',
 'Mercy Federal 2759 44-11B',
 'Metz 6094 13-1H',
 'Mildred 5602 43-9H',
 'Mildred Nelson 4-25H',
 'Mimir Uran 11-11H',
 'Missouri Federal 5302 44-35H',
 'Mitbo Federal 6092 43-14H',
 'Montague 5501 13-3 2T',
 'Montague 5501 13-3 3B',
 'Montague 5501 13-3H',
 'Montague 5601 41-34 6T',
 'Montague 5601 41-34 7B',
 'Montague 5601 42-34 4T',
 'Montague 5601 42-34 5B',
 'Moore 5304 13-1H',
 'Morgan 6093 12-6 1H',
 'Mortenson 6-5H',
 'Nadine Bob 5501 11-1T',
 'Nathan 5502 21-4B',
 'Nels 5792 13-3T',
 'Nelson 24-13H',
 'Nelson 4-29H',
 'Njos Federal 5602 11-13H',
 'Nora 13-9H',
 'Nordeng 24-13H',
 'Norris 5892 21-30B',
 'O M Erickson 5501 42-19H',
 'Oasis Smestad 2758 13-5H',
 'Odin Jorgenson 5502 44-8H',
 'Olson 11-20H',
 'Otis 2658 43-23H',
 'Owan 23-26H',
 'Paul Byron 2758 41-13H',
 'Pederson 10-3H',
 'Phylis 14X-12H',
 'Piercy Federal 2758 13-5H',
 'Poppy Federal 2658 12-17H',
 'R W Clark 6092 43-9H',
 'Ray T Federal 2958 13-26H',
 'Rella 17-20H',
 'Rella 18-19H',
 'Remington 5992 12-26H',
 'Reveille Federal 2759 14-26H',
 'Rich 1X-16HA',
 'Rick 16X-12H',
 'Ricky Federal 5602 43-35H',
 'Rini 1X-16HB',
 'Rj Titus 6093 42-20H',
 'Rolfson N 5198 11-17 3T',
 'Rolfson N 5198 12-17 5T',
 'Rolfson N 5198 12-17 7T',
 'Rolfson N 5198 13-17 8T',
 'Rolfson N 5198 14-17 10T',
 'Rolfson S 5198 11-29 2TX',
 'Rolfson S 5198 11-29 4T',
 'Rolfson S 5198 12-29 6T',
 'Rolfson S 5198 12-29 8T',
 'Rolfson S 5198 14-29 11T',
 'Rolfson S 5198 14-29 13T',
 'Rolfson S 5198 43-20 10T',
 'Romo Bro Louise 2759 43-9B',
 'Ross 5603 42-10H',
 'Ross 5603 43-10 2B',
 'Ross 5603 43-10 3T',
 'Rowley 6093 43-23H',
 'Ruud 5493 42-23 3T',
 'Sage Brush 2758 41-9 2B',
 'Sage Brush 2758 41-9 3T',
 'Sage Brush 2758 41-9 4B',
 'Sam 2858 12-17H',
 'Sam Horob Federal 5604 43-23H',
 'Santa 23-14H',
 'Sara 5792 13-3B',
 'Saratoga Federal 12-1-161-92',
 'Seattle 1-35H',
 'Sequoia 6093 42-34H',
 'Shepherd 5501 12-5 2B',
 'Shepherd 5501 12-5 3B',
 'Shepherd 5501 12-5H',
 'Sherri 2658 43-9H',
 'Somerset 5602 12-17H',
 'Sonora 6094 42-24H',
 'Spratley 5494 14-13 13T',
 'Spratley 5494 34-13 9T',
 'Spratley 5494 44-13 4T',
 'State 5792 11-15 2T',
 'State 5792 11-15H',
 'State 5792 31-15 3B',
 'State 5792 31-15 5T',
 'State 5792 31-15 6T2',
 'Stenehjem 14X-9HA',
 'Stenehjem 14X-9HB',
 'Stepanek 1-18H',
 'Stepanek 8-5H',
 'Steven Van Berkom 5993 44-24T',
 'Stilt Federal 2658 42-22H',
 'Stim Federal 5504 42-2H',
 'Storseth 5603 12-27H',
 'Stowers 5502 43-8H',
 'Susie 15-22H',
 'Susie 3 2758 42-10B',
 'Susie 4 2758 42-10B',
 'Sweetgum 6092 13-24H',
 'Syverson 16-34H',
 'Tanner T 5601 42-24B',
 'Teal 5692 13-22H',
 'Thompson 5601 43-24H',
 'Thor Erie 44-18H',
 'Thornburgh 6092 44-15H',
 'Tim Federal 2658 21-10H',
 'Todd 13X-35H',
 'Torgerson R&R 5604 31-27H',
 'Traill 5502 31-4H',
 'Tufto 13-24H',
 'Tufto 5501 11-13 2B',
 'Tufto 5501 11-13 3T',
 'Tufto 5501 13-13 4T',
 'Tufto 5501 13-13 5B',
 'Tufto 5501 13-13 6T',
 'Tufto 5501 14-13 7B',
 'Tufto 5501 14-13 8T',
 'Twobins 5501 13-29 3B',
 'Twobins 5501 13-29 4T',
 'Twobins 5501 13-29 5B',
 'Twobins 5501 41-20 6T',
 'Twobins 5501 41-20 8T',
 'Twobins 5501 42-20H',
 'Tyler T 5601 41-24B',
 'Van Berkom 5793 11-14H',
 'Vuki 5502 42-7H',
 'W.E. Isley 6093 12-26B',
 'Wales 5602 42-33H',
 'Walla 13-19H',
 'Walla 13X-19H',
 'Warren 5892 42-23H',
 'White 5198 12-6 1T2',
 'White 6-7H',
 'Wilson Federal 14-23H',
 'Wilson Federal 1X-20H',
 'Wold 34-27H',
 'Woll 6093 12-1T',
 'Wrangell Federal 5602 43-11H',
 'Yeiser 5603 42-33H',
 'Zdenek 6093 42-24H'}

# Data Import

- Features imported from `xspoc.xdiag`

Following are the Features (Columns) to use for the initial analysis:
```
"Date",
"PPRL",
"MPRL",
"FluidLoadonPump",
"PumpIntakePressure"
```

## Well Specific

In [39]:
well_name = 'Aagvik 1-35H'  # choose from wells which have failure

query_well = """
SELECT 
    "NodeID",
    "Date",
    "PPRL",
    "MPRL",
    "FluidLoadonPump",
    "PumpIntakePressure"
FROM
    xspoc.xdiag
WHERE "NodeID" = '{}'
ORDER BY "NodeID", "Date";
""".format(well_name)

with lib_aws.PostgresRDS(db='oasis-prod') as engine:
    data_well = pd.read_sql(query_well, engine, parse_dates=['Date'])
 
# Just failures for that well
failure_well = failures[failures.NodeID == well_name]
failure_well.reset_index(inplace=True, drop=True)

display(data_well.head())
print("Failure Info")
display(failure_well)

,NodeID,Date,PPRL,MPRL,FluidLoadonPump,PumpIntakePressure
0,Aagvik 1-35H,2019-06-21 15:58:34,27639.0,16811.0,3280.0,NaN
1,Aagvik 1-35H,2019-06-21 16:25:36,27457.0,16752.0,3241.0,NaN
2,Aagvik 1-35H,2019-06-21 18:25:16,27448.0,16594.0,3330.0,NaN
3,Aagvik 1-35H,2019-06-21 18:28:10,27424.0,16595.0,3327.0,NaN
4,Aagvik 1-35H,2019-06-21 20:25:01,27662.0,16711.0,3341.0,NaN

Failure Info

,NodeID,Last Oil,Start Date,Finish Date,Job Type,Job Bucket,Primary Symptom,Secondary Symptom
0,Aagvik 1-35H,2019-11-27,2019-12-02,2019-12-06,TUBING LEAK,TUBING,Mechanically Induced Damage,Solids in Pump

## Group of Wells

In [74]:
%%time
well_list = [
    'Andre 5501 14-5 3B',
    'Dixon 5602 44-34H',
    'Forland 28-33H'
]

query_list = """
SELECT
    "NodeID",
    "Date",
    "PPRL",
    "MPRL",
    "FluidLoadonPump",
    "PumpIntakePressure"
FROM xspoc.xdiag
WHERE "NodeID" in {}
ORDER BY "NodeID","Date"
""".format(tuple(well_list))

with lib_aws.PostgresRDS(db='oasis-prod') as engine:
    data_list = pd.read_sql(query_list, engine, parse_dates=['Date'])

failure_list = failures[failures.NodeID.isin(well_list)]
failure_list.reset_index(inplace=True, drop=True)

display(data_list.head())
print("Failure info in these in these wells")
display(failure_list)

,NodeID,Date,PPRL,MPRL,FluidLoadonPump,PumpIntakePressure
0,Andre 5501 14-5 3B,2019-05-28 00:32:02,33010.0,15386.0,8997.0,549.0
1,Andre 5501 14-5 3B,2019-05-28 02:11:23,30272.0,17090.0,8643.0,978.0
2,Andre 5501 14-5 3B,2019-05-28 04:20:24,33434.0,15386.0,9606.0,578.0
3,Andre 5501 14-5 3B,2019-05-28 07:07:08,33168.0,16017.0,9745.0,521.0
4,Andre 5501 14-5 3B,2019-05-28 08:49:42,33046.0,15429.0,9069.0,802.0

Failure info in these in these wells

,NodeID,Last Oil,Start Date,Finish Date,Job Type,Job Bucket,Primary Symptom,Secondary Symptom
0,Andre 5501 14-5 3B,2020-03-06,2020-03-10,2020-03-13,"1-3/4"" PUMP",PUMP,Corrosion,Abrasion - Foreign Debris
1,Andre 5501 14-5 3B,2018-05-22,2018-05-24,2018-05-26,"1"" ROD SECTION",ROD,Dropped (X) Amount of Times,Tagging
2,Andre 5501 14-5 3B,2018-04-30,2018-05-09,2018-05-12,POLISH ROD BREAK,ROD,Spray Metal Overload,Blank
3,Dixon 5602 44-34H,2019-09-06,2019-09-19,2019-09-19,POLISH ROD BREAK,ROD,None,Unknown
4,Dixon 5602 44-34H,2017-12-27,2018-01-18,2018-01-20,"1-1/2"" PUMP",PUMP,Corrosion,Blank
5,Dixon 5602 44-34H,2019-01-21,2019-02-25,2019-03-01,"1-3/4"" PUMP",PUMP,Sand,Blank
6,Forland 28-33H,2019-07-15,2019-07-19,2019-07-24,"1-3/4"" PUMP",PUMP,Mechanically Induced Damage,Compression
7,Forland 28-33H,2018-01-04,2018-01-06,2018-01-06,2-3/4 PUMP,PUMP,Solids in Pump,Blank
8,Forland 28-33H,2018-06-12,2018-07-01,2018-07-14,2-3/4 PUMP,PUMP,Compression,Solids in Pump
9,Forland 28-33H,2018-12-17,2018-12-21,2018-12-24,TUBING LEAK,TUBING,Unknown,Blank

Wall time: 8.64 s

## Entire Feature Data

Running the next query will import the entire dataset from `xspoc.xdiag`. It has around 3,228,303 rows and took around 14min to run the query

In [32]:
%%time
# Querying the features
query_full = """
SELECT 
    "NodeID",
    "Date",
    "PPRL",
    "MPRL",
    "FluidLoadonPump",
    "PumpIntakePressure"
FROM
    xspoc.xdiag
ORDER BY "NodeID", "Date";
"""



with lib_aws.PostgresRDS(db='oasis-prod') as engine:
    data_full = pd.read_sql(query_full, engine, parse_dates=['Date'])
    
data_full.head()

Wall time: 14min 9s

,NodeID,Date,PPRL,MPRL,FluidLoadonPump,PumpIntakePressure
0,Aagvik 1-35H,2019-06-21 15:58:34,27639.0,16811.0,3280.0,NaN
1,Aagvik 1-35H,2019-06-21 16:25:36,27457.0,16752.0,3241.0,NaN
2,Aagvik 1-35H,2019-06-21 18:25:16,27448.0,16594.0,3330.0,NaN
3,Aagvik 1-35H,2019-06-21 18:28:10,27424.0,16595.0,3327.0,NaN
4,Aagvik 1-35H,2019-06-21 20:25:01,27662.0,16711.0,3341.0,NaN

## Combining

Note: the original failure info can be used. However to make it efficient we only use those wells which are present in the feature dataframe (data_well, data_list, data_full)

In [73]:
## TODO: Test out this function
"""
Before analysing the data we need to merge the information
Transfering info from failures to data (copy of features)
Using a for loop -- may not be very efficient
"""

def failure_merge(df, failure_df, transfer_cols):
    """
    Merges the failures info
    :param df: dataframe to which info is being transferred to. (Should have columns "NodeID" and "Date")
    :param failure_df: Failure info data (Should have columns "NodeID", "Start Date" and "End Data")
    :param cols: Columns which need to be transferred
    """
    
    merged = df.copy()
    
    for col in transfer_cols:
        merged[col] = 'Normal'  # for now putting everything as normal (even NAN's)
        
    for i in failure_df.index:
        well = failure_df.loc[i, 'NodeID']
        t_start = failure_df.loc[i, 'Start Date']
        t_end = failure_df.loc[i, 'Finish Date']

        bool_ = (merged.NodeID == well) & (merged.Date >= t_start) & (merged.Date <= t_end)  # Boolean mask for main data
        merged.loc[bool_, transfer_cols] = failure_df.loc[i, transfer_cols].values
        
    return merged