This notebook will pull the necessary data from the historical data to the main database.

Locations:
```
Historical Data:
DB = oasis-data
Schema = dbo
Table = tblDataHistory

Main ESP Table:
DB = esp-data
Schema = public
Table = data

# use table espaddr for checking which addresses need to be used
```

In [1]:
"""
For setting up local imports in an Ipython Shell
This is a workaround for ipython, dont need it for basic python scripts
"""
import os
import sys
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

In [2]:
from library import lib_aws
import pandas as pd
import time
import numpy as np

In [3]:
# Helper functions
# Clean up strings
def node_clean(node_str):
    """
    Function that cleans up NodeID strings
    """
    node_str = " ".join(node_str.split())  # remove empty white spaces
    node_str = node_str.replace('#', "").strip().lower().title()  # remove # character, plus clean characters
    node_str =  node_str[0:-2] + node_str[-2:].upper() # last 2 characters whill alwsy be upper case
    return node_str

# Transferring Data from Backups to Main DB

In [ ]:
# Get the addresses we need to pull
query = """
select * from espaddr;
"""

with lib_aws.PostgresRDS(db='esp-data') as engine:
    esp_addr = pd.read_sql(query, engine)

address= esp_addr.dropna().Address.astype(int).unique()
esp_addr.head()

In [ ]:
def import_data(addr):
    cut_off_dt = pd.Timestamp('2020-08-18')
    query = """
    select * from dbo."tblDataHistory"
    where "Address" = {};
    -- order by "NodeID", "Date";
    """.format(addr)
    
    with lib_aws.PostgresRDS(db='oasis-data') as engine:
        sample = pd.read_sql(query, engine, parse_dates=['Date'])

    # data modification
    sample.NodeID = sample.NodeID.apply(node_clean)
    sample = sample[sample.Date < cut_off_dt]
    sample.drop_duplicates(subset=['NodeID', 'Date', 'Address'], inplace=True)
    sample.reset_index(inplace=True, drop=True)
    
    return sample

In [ ]:
complete = [32176,
            32166,
            32141,
            32145,
            32140,
            32137,
            32125,
            32126,
            40760,
            42150,
            42104,
            40003,
            40007,
            30234,
            30127,
            30170,
            30174]

addr_to_use = np.setdiff1d(address, complete)
addr_to_use

In [ ]:
%%time
addr_to_use = [42156, 42158]
for a in addr_to_use:
    t0 = time.time()
    print(f"------------\nAddress Working on: {a}")
    
    # IMporting data
    data = import_data(a)
    t2 = time.time()
    print("Data Imported in time {:.2f}".format(t2-t0))
    
    # Add data to the db
    lib_aws.AddData.add_data(df=data, 
                             db='esp-data', 
                             table='data',
                             merge_type='append',  # Only use replace if you know what you are doing
                             index_col='NodeID') 

    t3 = time.time()
    print("Full process time {:.2f}".format(t3-t0))
    complete.append(a)

In [ ]:
# Grouped Query
gp_query = """
select * from dbo."tblDataHistory"
where "Address" = {};
"""

with lib_aws.PostgresRDS(db='oasis-data') as engine:

In [ ]:
# %%time
# sample_df = import_data(30234)

lib_aws.AddData.add_data(df=sample_df, 
                         db='esp-data', 
                         table='data',
                         merge_type='append',  # Only use replace if you know what you are doing
                         index_col='NodeID')

# Creating a new table which just ESP Data

Steps:
- Get List of NodeID's which are ESP's
- While iterating over each well:
    - Import data from `db:esp-data table:public.data`
    - Transfer this data to `db:esp-data table:public.espdata`

In [4]:
# Get list of ESP NodeID's

# gets list of wells which have 
query = """
select distinct("NodeID") 
from data 
where "Address" in (32176, 42150, 30272);
"""

with lib_aws.PostgresRDS(db='esp-data') as engine:
    esp_wells = pd.read_sql(query, engine)
    
esp_wells.head()

                            NodeID
0           Drummond 5501 41-21 7B
1              Bobby 5502 42-11 3B
2             Jensen 5501 11-18 4B
3              Lite 5393 31-11 10T
4  Spratley Federal 5494 44-13 3BX

In [5]:
all_wells = esp_wells.NodeID.values
complete_wells = ['Drummond 5501 41-21 7B']

wells_to_use = np.setdiff1d(all_wells, complete_wells)
well_gps = np.array_split(wells_to_use, 10)

In [7]:
for well_array in well_gps:
    t0 = time.time()
    print("---------------\nWells Being Worked on", *well_array, sep='\n')

    well_query = """
    select * from data where "NodeID" in {} 
    """.format(tuple(well_array))
    
    try:
        with lib_aws.PostgresRDS(db='esp-data') as engine:
            df = pd.read_sql(well_query, engine,parse_dates=['Date'])
    except Exception as e:
        print(e)
        df = pd.DataFrame()

    if df.empty:
        print("No data Queried")
        
    else:
        t2 = time.time()
        print("Data Imported in time {:2f}".format(t2-t0))
        
        # Add data to the db
        lib_aws.AddData.add_data(df=df,
                                 db='esp-data',
                                 table='espdata',
                                 merge_type='append',  # Only use replace if you know what you are doing
                                 index_col='NodeID')

        t3 = time.time()
        print("Full process time {:.2f}".format(t3 - t0))
        complete_wells = complete_wells + list(well_array)
        del df

---------------
Wells Being Worked on
Berry 5493 41-7 6B
Berry 5493 42-7 8T
Berry 5493 42-7 9B
Berry 5493 44-7 12T
Berry 5493 44-7 14BX
Berry 5493 44-7 15TX
Blanchet Fed 41-28H
Bobby 5502 14-2 6B
Bobby 5502 14-2 7B
Bobby 5502 14-2 8BX
Data Imported in time 276.193613
Data appended on Table espdata in time 79.18s
Full process time 355.37
---------------
Wells Being Worked on
Bobby 5502 42-11 2BX
Bobby 5502 42-11 3B
Bobby 5502 42-11 4B
Bobby 5502 42-11 5B
Brunson 9-8WA
Cook 41-12 11T
Crane Federal 41-26H
Crane Federal 5300 14-27 3B
Crane Federal 5300 14-27 5B
Crane Federal 5300 34-27 7B
Data Imported in time 92.258590
Data appended on Table espdata in time 89.97s
Full process time 182.23
---------------
Wells Being Worked on
Dawson 5494 41-12 2T
Dawson 5494 42-12 3B
Dawson 5494 42-12 4T
Dawson 5494 42-12 5B
Dawson 5494 42-12 6T
Dawson 5494 43-12 11T
Dixon 5602 42-34 2B
Dixon 5602 42-34 4B
Drummond 5501 42-21 3B
Drummond 5501 42-21 5B
Data Imported in time 206.662251
Data appended on Table espdata in time 214.94s
Full process time 421.61
---------------
Wells Being Worked on
Florence 5303 11-2 2B
Hanover Federal 5300 41-11 10B
Hanover Federal 5300 41-11 11T
Hanover Federal 5300 41-11 12B
Harbour 5501 14-4 7B
Jensen 5501 11-18 4B
Jensen 5501 43-7 5B
Jensen 5501 43-7 6B
Jensen 5501 44-7 7B
Kaitlin Federal 5693 41-28B
Data Imported in time 201.310832
Data appended on Table espdata in time 131.35s
Full process time 332.66
---------------
Wells Being Worked on
Kjorstad 5300 34-22 9B
Kjorstad Federal 5300 14-27 11BX
Kjos Federal 5501 11-18 9BX
Lewis Federal 5300 11-31 2B
Lewis Federal 5300 11-31 3B
Lewis Federal 5300 11-31 4BR
Lewis Federal 5300 21-31 5B
Lewis Federal 5300 21-31 6B
Lite 5393 11-11 3BX
Lite 5393 11-11 4TX
Data Imported in time 160.577251
Data appended on Table espdata in time 143.85s
Full process time 304.43
---------------
Wells Being Worked on
Lite 5393 31-11 10T
Lite 5393 31-11 6T
Lite 5393 31-11 7B
Lite 5393 41-11 11B
Lite 5393 41-11 12T
Lite Federal 5393 41-11 13BX
Martin 5302 11-4 2B
Martin 5302 11-4 4B
Mccauley 5501 14-4 8BX
Mccauley 5601 41-34 6B
Data Imported in time 145.209598
Data appended on Table espdata in time 77.85s
Full process time 223.06
---------------
Wells Being Worked on
Mcfarland Federal 5501 11-18 8BX
Mcfarland Federal 5502 11-1 3B
Merritt 5693 11-24 H
Merritt 5693 13-24 5T
Merritt 5693 13-24 6B
Merritt 5693 13-24 7T
Merritt 5693 13-24 8B
Merritt 5693 13-24 9T
Oasis Meiers 5692 11-19 10T
Data Imported in time 124.436848
Data appended on Table espdata in time 120.58s
Full process time 245.02
---------------
Wells Being Worked on
Oasis Meiers 5692 11-19 11T
Oasis Meiers 5692 11-19 9BX
Oasis Meiers 5692 11-19 H
Om Erickson 5501 11-18 4B
Om Erickson 5501 43-7 5B
Om Erickson 5501 43-7 6B
Om Erickson 5501 44-7 7B
Om Erickson 5501 44-7 8BX
Osprey 44-23H
Data Imported in time 168.350156
Data appended on Table espdata in time 123.03s
Full process time 291.38
---------------
Wells Being Worked on
Peregrine 5401 42-24H
Seattle Federal 42-35 8B
Seattle Federal 5200 42-35 7B
Spratley 5494 14-13 14B
Spratley 5494 14-13 15T
Spratley 5494 14-13 16BX
Spratley 5494 34-13 11T
Spratley 5494 34-13 8B
Spratley 5494 34-13 9T
Data Imported in time 140.184570
Data appended on Table espdata in time 99.93s
Full process time 240.11
---------------
Wells Being Worked on
Spratley 5494 44-13 6T
Spratley Federal 5494 44-13 3BX
Stenberg 5199 11-9 8B
Stenberg 5199 11-9 9B
Thorlaksen 11-14H
Twobins 5501 13-29 3B
Twobins 5501 41-20 7B
Vaughn Becky 11-1B (EsP)
Wade Federal 5300 41-30 9B
Data Imported in time 185.147975
Data appended on Table espdata in time 96.85s
Full process time 281.99